html, body {
  height: 100%;
  width: 100%;
}

/* vertical-centered image */
.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  background: url("http://www.moscowpython.ru/static/images/section-main-bg.2388d8b71e72.png") no-repeat center center fixed;
  background-position: 0px 50px;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#gigs {
  background: url("https://dl.dropboxusercontent.com/u/50943129/SAN-FRAN-BLACK-AND-WHITE.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 800px;
  /* overwrites the default parallax height */
}

#discography-layover {
  background: url("https://images.unsplash.com/photo-1421977870504-378093748ae6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cd8eec993db72776eafaf335154f3b65") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 400px;
}

/* Custom styles */
h1, h2, h3, .navbar {
  font-family: 'Montserrat', sans-serif;
}

#discography {
  background-color: #333;
  color: #ffffff;
}

#discography .featurette-divider {
  color: #fff;
}

#gigs .panel {
  opacity: 0.8;
}

.pad-md {
  padding: 50px 0;
}

#gigs h2 {
  color: #fff;
}
